In [8]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import json

import warnings
warnings.filterwarnings("ignore")

print('numpy version - ' , np.__version__)
print('pandas version - ' , pd.__version__)

def seriesinfo(s) :
    print('index - ' , s.index , type(s.index))
    print('value - ' , s.values , type(s.values))
    print()
    print('data - ')
    print(s)
    
def frminfo(df) :
    print('shape     - ' , df.shape)
    print('size      - ' , df.size)
    print('ndim      - ' , df.ndim )
    print('index     - ' , df.index   , type(df.index))
    print('col index - ' , df.columns , type(df.columns))
    print('values    - ')
    print(df.values  , '\n' , type(df.values))
    print()
    print('data - ')
    display(df)

numpy version -  1.21.5
pandas version -  1.4.4

In [ ]:
# 1 cctv 현황 데이터 load

In [15]:
seoul_cctv_frm = pd.read_csv('C:/Users/PiGiraffe0/Documents/SQL/data/test/service_data_cctv_in_seoul.csv')
display(seoul_cctv_frm.head())
seoul_cctv_frm.info()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   기관명        25 non-null     object
 1   소계         25 non-null     int64
 2   2013년도 이전  25 non-null     int64
 3   2014년      25 non-null     int64
 4   2015년      25 non-null     int64
 5   2016년      25 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.3+ KB

In [16]:
# 2 기관명 -> 구별 변경

In [18]:
seoul_cctv_frm.rename(columns = {'기관명' : '구별'} , inplace=True)
seoul_cctv_frm

      구별    소계  2013년도 이전  2014년  2015년  2016년
0    강남구  2780       1292    430    584    932
1    강동구   773        379     99    155    377
2    강북구   748        369    120    138    204
3    강서구   884        388    258    184     81
4    관악구  1496        846    260    390    613
5    광진구   707        573     78     53    174
6    구로구  1561       1142    173    246    323
7    금천구  1015        674     51    269    354
8    노원구  1265        542     57    451    516
9    도봉구   485        238    159     42    386
10  동대문구  1294       1070     23    198    579
11   동작구  1091        544    341    103    314
12   마포구   574        314    118    169    379
13  서대문구   962        844     50     68    292
14   서초구  1930       1406    157    336    398
15   성동구  1062        730     91    241    265
16   성북구  1464       1009     78    360    204
17   송파구   618        529     21     68    463
18   양천구  2034       1843    142     30    467
19  영등포구   904        495    214    195    373
20   용산구  1624       1368    218    112    398
21   은평구  1873       1138    224    278    468
22   종로구  1002        464    314    211    630
23    중구   671        413    190     72    348
24   중랑구   660        509    121    177    109

In [ ]:
# 3 인구현황 데이터 load
# usecols = ''  내가 원하는 excel의 칼럼 선택

In [35]:
seoul_pop_frm = pd.read_excel('C:/Users/PiGiraffe0/Documents/SQL/data/test/service_data_population_in_seoul.xls' 
                              , header = 2
                              , usecols = 'B , D , G , J , N')
display(seoul_pop_frm.head())
seoul_pop_frm.info()

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   자치구       26 non-null     object
 1   계         26 non-null     float64
 2   계.1       26 non-null     float64
 3   계.2       26 non-null     float64
 4   65세이상고령자  26 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.2+ KB

In [ ]:
# 4 데이터 rename

In [32]:
seoul_pop_frm.columns

Index(['구별', '인구 수', '한국인', '외국인', '고령자'], dtype='object')

In [77]:
seoul_pop_frm.rename(columns = {'자치구' : '구별' , '계' : '인구 수' , '계.1' : '한국인' , '계.2' : '외국인' 
                                , '65세이상고령자' : '고령자'} , inplace = True)
seoul_pop_frm.head()

    구별        인구 수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [36]:
# 5 cctv와 인구현황 데이터 파악하기
# 소계를 기준으로 오름차순 정렬
# cctv가 가장 많은 구 확인
# 2014-2016년 cctv 수를 더하고 2013년 이전 cctv 수로 나누어서 최근 3년간 ccrv 증가율을 계산

In [41]:
# 소계를 기준으로 오름차순 정렬
cctv_sort = seoul_cctv_frm.sort_values('소계')
seoul_cctv_frm.sort_values('소계').head()

     구별   소계  2013년도 이전  2014년  2015년  2016년
9   도봉구  485        238    159     42    386
12  마포구  574        314    118    169    379
17  송파구  618        529     21     68    463
24  중랑구  660        509    121    177    109
23   중구  671        413    190     72    348

In [45]:
# cctv가 가장 많은 구 확인
cctv_sort.iloc[[len(cctv_sort)-1]]

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932

In [65]:
# 2014-2016년 cctv 수를 더하고 2013년 이전 cctv 수로 나누어서 최근 3년간 ccrv 증가율을 계산
cctv_upper_frm = round((seoul_cctv_frm['2014년'] + seoul_cctv_frm['2015년'] + seoul_cctv_frm['2016년']) / seoul_cctv_frm['2013년도 이전'] * 100 , 2)
cctv_upper_frm

# 칼럼 추가

seoul_cctv_frm['증가율'] = cctv_upper_frm
seoul_cctv_frm.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년     증가율
0  강남구  2780       1292    430    584    932  150.62
1  강동구   773        379     99    155    377  166.49
2  강북구   748        369    120    138    204  125.20
3  강서구   884        388    258    184     81  134.79
4  관악구  1496        846    260    390    613  149.29

In [66]:
# 증가율이 가장 높은 구 확인

In [71]:
seoul_cctv_frm.sort_values('증가율' , ascending = False).head(1)

     구별    소계  2013년도 이전  2014년  2015년  2016년     증가율
22  종로구  1002        464    314    211    630  248.92

In [78]:
# 6 서울시 인구 데이터 확인
# drop을 이용해서 합계 행 삭제
# 구별 결측값 확인 - 만약 결측값이 있다면 행 삭제
# 각 구별 전체 인구를 이요하여 구별 외국인 비율과 고령자 비율 계산
# 인구수로 정렬하여 인사이트 찾아보기
seoul_pop_frm.head()

    구별        인구 수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [87]:
# drop을 이용해서 합계 행 삭제
seoul_pop_frm.drop(0 , axis = 0 , inplace = True)
seoul_pop_frm.reset_index(drop=True , inplace = True)
seoul_pop_frm.head()

    구별      인구 수       한국인      외국인      고령자
0  종로구  162820.0  153589.0   9231.0  25425.0
1   중구  133240.0  124312.0   8928.0  20764.0
2  용산구  244203.0  229456.0  14747.0  36231.0
3  성동구  311244.0  303380.0   7864.0  39997.0
4  광진구  372164.0  357211.0  14953.0  42214.0

In [98]:
# 구별 결측값 확인 - 만약 결측값이 있다면 행 삭제
seoul_pop_frm.isnull()
seoul_pop_frm.drop(25 , axis = 0 , inplace = True)
seoul_pop_frm

    구별      인구 수       한국인      외국인      고령자
0  종로구  162820.0  153589.0   9231.0  25425.0
1   중구  133240.0  124312.0   8928.0  20764.0
2  용산구  244203.0  229456.0  14747.0  36231.0
3  성동구  311244.0  303380.0   7864.0  39997.0
4  광진구  372164.0  357211.0  14953.0  42214.0

In [107]:
#.unique()
# 중복을 제외하고 데이터를 뽑아주는 함수
seoul_pop_frm['구별'].unique()
seoul_pop_frm['구별'].isnull()
seoul_pop_frm[seoul_pop_frm['구별'].isnull()]

Empty DataFrame
Columns: [구별, 인구 수, 한국인, 외국인, 고령자]
Index: []

In [115]:
# 각 구별 전체 인구를 이용하여 구별 외국인 비율과 고령자 비율 계산
foreign_frm = round(seoul_pop_frm['외국인'] / seoul_pop_frm['인구 수'] * 100 , 2)
foreign_frm.head()

older_frm = round(seoul_pop_frm['고령자'] / seoul_pop_frm['인구 수'] * 100 , 2)
older_frm.head()

seoul_pop_frm['외국인 비율'] = foreign_frm
seoul_pop_frm['고령자 비율'] = older_frm

seoul_pop_frm.head()

    구별      인구 수       한국인      외국인      고령자  외국인 비율  고령자 비율
0  종로구  162820.0  153589.0   9231.0  25425.0    5.67   15.62
1   중구  133240.0  124312.0   8928.0  20764.0    6.70   15.58
2  용산구  244203.0  229456.0  14747.0  36231.0    6.04   14.84
3  성동구  311244.0  303380.0   7864.0  39997.0    2.53   12.85
4  광진구  372164.0  357211.0  14953.0  42214.0    4.02   11.34

In [117]:
seoul_pop_frm.sort_values('인구 수' , ascending = False).head()

     구별      인구 수       한국인      외국인      고령자  외국인 비율  고령자 비율
23  송파구  667483.0  660584.0   6899.0  72506.0    1.03   10.86
15  강서구  603772.0  597248.0   6524.0  72548.0    1.08   12.02
22  강남구  570500.0  565550.0   4950.0  63167.0    0.87   11.07
10  노원구  569384.0  565565.0   3819.0  71941.0    0.67   12.63
20  관악구  525515.0  507203.0  18312.0  68082.0    3.48   12.96

In [118]:
# 7 인구대비 cctv 현황을 분석하기 위해서 테이블 병합

In [127]:
merge_outer_frm = pd.merge(seoul_cctv_frm , seoul_pop_frm , on = '구별')
merge_outer_frm.head()

,구별,소계,2013년도 이전,2014년,2015년,2016년,증가율,인구 수,한국인,외국인,고령자,외국인 비율,고령자 비율
0,강남구,2780,1292,430,584,932,150.62,570500.0,565550.0,4950.0,63167.0,0.87,11.07
1,강동구,773,379,99,155,377,166.49,453233.0,449019.0,4214.0,54622.0,0.93,12.05
2,강북구,748,369,120,138,204,125.20,330192.0,326686.0,3506.0,54813.0,1.06,16.60
3,강서구,884,388,258,184,81,134.79,603772.0,597248.0,6524.0,72548.0,1.08,12.02
4,관악구,1496,846,260,390,613,149.29,525515.0,507203.0,18312.0,68082.0,3.48,12.96

In [129]:
merge_outer_frm.drop(['2013년도 이전' , '2014년' , '2015년' , '2016년'] , axis = 1 , inplace = True)
merge_outer_frm

      구별    소계     증가율      인구 수       한국인      외국인      고령자  외국인 비율  고령자 비율
0    강남구  2780  150.62  570500.0  565550.0   4950.0  63167.0    0.87   11.07
1    강동구   773  166.49  453233.0  449019.0   4214.0  54622.0    0.93   12.05
2    강북구   748  125.20  330192.0  326686.0   3506.0  54813.0    1.06   16.60
3    강서구   884  134.79  603772.0  597248.0   6524.0  72548.0    1.08   12.02
4    관악구  1496  149.29  525515.0  507203.0  18312.0  68082.0    3.48   12.96
5    광진구   707   53.23  372164.0  357211.0  14953.0  42214.0    4.02   11.34
6    구로구  1561   64.97  447874.0  416487.0  31387.0  56833.0    7.01   12.69
7    금천구  1015  100.00  255082.0  236353.0  18729.0  32970.0    7.34   12.93
8    노원구  1265  188.93  569384.0  565565.0   3819.0  71941.0    0.67   12.63
9    도봉구   485  246.64  348646.0  346629.0   2017.0  51312.0    0.58   14.72
10  동대문구  1294   74.77  369496.0  354079.0  15417.0  54173.0    4.17   14.66
11   동작구  1091  139.34  412520.0  400456.0  12064.0  56013.0    2.92   13.58
12   마포구   574  212.10  389649.0  378566.0  11083.0  48765.0    2.84   12.52
13  서대문구   962   48.58  327163.0  314982.0  12181.0  48161.0    3.72   14.72
14   서초구  1930   63.37  450310.0  445994.0   4316.0  51733.0    0.96   11.49
15   성동구  1062   81.78  311244.0  303380.0   7864.0  39997.0    2.53   12.85
16   성북구  1464   63.63  461260.0  449773.0  11487.0  64692.0    2.49   14.03
17   송파구   618  104.35  667483.0  660584.0   6899.0  72506.0    1.03   10.86
18   양천구  2034   34.67  479978.0  475949.0   4029.0  52975.0    0.84   11.04
19  영등포구   904  157.98  402985.0  368072.0  34913.0  52413.0    8.66   13.01
20   용산구  1624   53.22  244203.0  229456.0  14747.0  36231.0    6.04   14.84
21   은평구  1873   85.24  494388.0  489943.0   4445.0  72334.0    0.90   14.63
22   종로구  1002  248.92  162820.0  153589.0   9231.0  25425.0    5.67   15.62
23    중구   671  147.70  133240.0  124312.0   8928.0  20764.0    6.70   15.58
24   중랑구   660   79.96  414503.0  409882.0   4621.0  56774.0    1.11   13.70

In [130]:
# 인덱스를 구별로 변환

In [146]:
merge_outer_frm.set_index('구별' , inplace = True)
merge_outer_frm

        소계     증가율      인구 수       한국인      외국인      고령자  외국인 비율  고령자 비율
구별
강남구   2780  150.62  570500.0  565550.0   4950.0  63167.0    0.87   11.07
강동구    773  166.49  453233.0  449019.0   4214.0  54622.0    0.93   12.05
강북구    748  125.20  330192.0  326686.0   3506.0  54813.0    1.06   16.60
강서구    884  134.79  603772.0  597248.0   6524.0  72548.0    1.08   12.02
관악구   1496  149.29  525515.0  507203.0  18312.0  68082.0    3.48   12.96
광진구    707   53.23  372164.0  357211.0  14953.0  42214.0    4.02   11.34
구로구   1561   64.97  447874.0  416487.0  31387.0  56833.0    7.01   12.69
금천구   1015  100.00  255082.0  236353.0  18729.0  32970.0    7.34   12.93
노원구   1265  188.93  569384.0  565565.0   3819.0  71941.0    0.67   12.63
도봉구    485  246.64  348646.0  346629.0   2017.0  51312.0    0.58   14.72
동대문구  1294   74.77  369496.0  354079.0  15417.0  54173.0    4.17   14.66
동작구   1091  139.34  412520.0  400456.0  12064.0  56013.0    2.92   13.58
마포구    574  212.10  389649.0  378566.0  11083.0  48765.0    2.84   12.52
서대문구   962   48.58  327163.0  314982.0  12181.0  48161.0    3.72   14.72
서초구   1930   63.37  450310.0  445994.0   4316.0  51733.0    0.96   11.49
성동구   1062   81.78  311244.0  303380.0   7864.0  39997.0    2.53   12.85
성북구   1464   63.63  461260.0  449773.0  11487.0  64692.0    2.49   14.03
송파구    618  104.35  667483.0  660584.0   6899.0  72506.0    1.03   10.86
양천구   2034   34.67  479978.0  475949.0   4029.0  52975.0    0.84   11.04
영등포구   904  157.98  402985.0  368072.0  34913.0  52413.0    8.66   13.01
용산구   1624   53.22  244203.0  229456.0  14747.0  36231.0    6.04   14.84
은평구   1873   85.24  494388.0  489943.0   4445.0  72334.0    0.90   14.63
종로구   1002  248.92  162820.0  153589.0   9231.0  25425.0    5.67   15.62
중구     671  147.70  133240.0  124312.0   8928.0  20764.0    6.70   15.58
중랑구    660   79.96  414503.0  409882.0   4621.0  56774.0    1.11   13.70

#### 상관관계 지수를 확인하는 함수
- -1 ~ 1 사이의 값을 확인
- 0에 가까울수록 상관관계가 약하다.
- -1 or 1dp 가까울수록 상관관계가 강하다.
- np.corrcoef()

In [153]:
print('인구 수 - 소계 \n', np.corrcoef(merge_outer_frm['인구 수'] , merge_outer_frm['소계']))
print()
print('고령자 - 소계 \n', np.corrcoef(merge_outer_frm['고령자'] , merge_outer_frm['소계']))
print()
print('외국인 비율 - 소계 \n', np.corrcoef(merge_outer_frm['외국인 비율'] , merge_outer_frm['소계']))
print()
print('고령자 비율 - 소계 \n', np.corrcoef(merge_outer_frm['고령자 비율'] , merge_outer_frm['소계']))

인구 수 - 소계
 [[1.         0.30634228]
 [0.30634228 1.        ]]

고령자 - 소계
 [[1.         0.25519598]
 [0.25519598 1.        ]]

외국인 비율 - 소계
 [[ 1.         -0.13567687]
 [-0.13567687  1.        ]]

고령자 비율 - 소계
 [[ 1.         -0.28077739]
 [-0.28077739  1.        ]]