In [29]:
import pandas as pd

In [53]:
raw_data1 = pd.read_csv('C:/Users/a/Desktop/semi_file/1인가구비율_시도_시_군_구.csv' , encoding = 'CP949')

In [54]:
raw_data1

,년도,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
0,전국,28.6,5618677,29.3,5848594,30.2,6147516,31.7,6643354,33.4,7165788
1,서울특별시,31.0,1180540,32.0,1229421,33.4,1299787,34.9,1390701,36.8,1489893
2,부산광역시,28.7,388899,29.7,404408,30.7,423227,32.4,455207,34.0,487362
3,대구광역시,27.4,259525,28.2,269903,29.4,284416,30.9,304543,32.7,326866
4,인천광역시,24.7,266434,25.2,275898,26.6,297865,28.3,324841,30.0,355657
5,광주광역시,29.8,171424,30.2,174614,31.1,182364,32.4,193948,34.5,212385
6,대전광역시,31.5,188136,32.5,195544,33.7,205165,36.3,228842,37.6,240932
7,울산광역시,25.1,107497,25.6,110236,26.5,116015,27.7,122848,29.5,133061
8,세종특별자치시,30.2,31472,30.0,35763,30.1,39078,31.3,43577,31.5,45706
9,경기도,24.4,1124541,25.2,1197586,26.3,1290893,27.6,1406010,29.2,1543100
10,강원도,32.2,199645,32.8,206295,32.9,208857,35.0,231371,36.3,245012
11,충청북도,31.0,195186,31.8,204109,32.9,215196,34.8,236208,36.3,252251
12,충청남도,31.1,259727,31.8,270497,32.5,280773,34.2,304973,35.8,327432
13,전라북도,31.2,227600,31.7,232587,32.3,238746,33.8,255269,35.7,276153
14,전라남도,31.6,232022,31.9,235062,32.1,238147,33.7,256633,35.3,274108
15,경상북도,31.9,346998,32.3,353702,32.7,360213,34.4,388791,36.0,416697
16,경상남도,28.6,370293,29.1,379719,29.6,391421,30.9,417737,32.7,450490
17,제주특별자치도,28.6,68738,29.4,73250,29.7,75353,31.1,81855,32.7,88683

In [59]:
trans_raw_data = raw_data1.transpose()
raw_data1

,년도,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
0,전국,28.6,5618677,29.3,5848594,30.2,6147516,31.7,6643354,33.4,7165788
1,서울특별시,31.0,1180540,32.0,1229421,33.4,1299787,34.9,1390701,36.8,1489893
2,부산광역시,28.7,388899,29.7,404408,30.7,423227,32.4,455207,34.0,487362
3,대구광역시,27.4,259525,28.2,269903,29.4,284416,30.9,304543,32.7,326866
4,인천광역시,24.7,266434,25.2,275898,26.6,297865,28.3,324841,30.0,355657
5,광주광역시,29.8,171424,30.2,174614,31.1,182364,32.4,193948,34.5,212385
6,대전광역시,31.5,188136,32.5,195544,33.7,205165,36.3,228842,37.6,240932
7,울산광역시,25.1,107497,25.6,110236,26.5,116015,27.7,122848,29.5,133061
8,세종특별자치시,30.2,31472,30.0,35763,30.1,39078,31.3,43577,31.5,45706
9,경기도,24.4,1124541,25.2,1197586,26.3,1290893,27.6,1406010,29.2,1543100
10,강원도,32.2,199645,32.8,206295,32.9,208857,35.0,231371,36.3,245012
11,충청북도,31.0,195186,31.8,204109,32.9,215196,34.8,236208,36.3,252251
12,충청남도,31.1,259727,31.8,270497,32.5,280773,34.2,304973,35.8,327432
13,전라북도,31.2,227600,31.7,232587,32.3,238746,33.8,255269,35.7,276153
14,전라남도,31.6,232022,31.9,235062,32.1,238147,33.7,256633,35.3,274108
15,경상북도,31.9,346998,32.3,353702,32.7,360213,34.4,388791,36.0,416697
16,경상남도,28.6,370293,29.1,379719,29.6,391421,30.9,417737,32.7,450490
17,제주특별자치도,28.6,68738,29.4,73250,29.7,75353,31.1,81855,32.7,88683

In [74]:
# 1인가구 비율 데이터


region_per_data = raw_data1[['년도' , '2017','2018','2019','2020','2021']]
region_per_data

         년도  2017  2018  2019  2020  2021
0        전국  28.6  29.3  30.2  31.7  33.4
1     서울특별시  31.0  32.0  33.4  34.9  36.8
2     부산광역시  28.7  29.7  30.7  32.4  34.0
3     대구광역시  27.4  28.2  29.4  30.9  32.7
4     인천광역시  24.7  25.2  26.6  28.3  30.0
5     광주광역시  29.8  30.2  31.1  32.4  34.5
6     대전광역시  31.5  32.5  33.7  36.3  37.6
7     울산광역시  25.1  25.6  26.5  27.7  29.5
8   세종특별자치시  30.2  30.0  30.1  31.3  31.5
9       경기도  24.4  25.2  26.3  27.6  29.2
10      강원도  32.2  32.8  32.9  35.0  36.3
11     충청북도  31.0  31.8  32.9  34.8  36.3
12     충청남도  31.1  31.8  32.5  34.2  35.8
13     전라북도  31.2  31.7  32.3  33.8  35.7
14     전라남도  31.6  31.9  32.1  33.7  35.3
15     경상북도  31.9  32.3  32.7  34.4  36.0
16     경상남도  28.6  29.1  29.6  30.9  32.7
17  제주특별자치도  28.6  29.4  29.7  31.1  32.7

In [84]:
# 1인 가구 인구수 데이터

region_papulation_data = raw_data1[['년도','2017.1','2018.1','2019.1','2020.1','2021.1']]
region_papulation_data.columns['년도' , '2017','2018','2019','2020','2021']
region_papulation_data

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

#### df ['A'] series 형태 추출 df [['A']] df 형태로 추출
- transpose()
- dt2 = dt1.rename(columns=dt1.iloc[0]) 첫번째 행 칼럼 지정\
- dt3 = dt2.drop(dt2.index[0]) 첫번째 행 칼럼 삭제

In [71]:
trans_region_per_data_work_01 = region_per_data.transpose()
trans_region_per_data_work_02 = trans_region_per_data_work_01.rename(columns = trans_region_per_data_work_01.iloc[0])
trans_region_per_data = trans_region_per_data_work_02.drop(trans_region_per_data_work_02.index[0])

trans_region_per_data

,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
2017,28.6,31.0,28.7,27.4,24.7,29.8,31.5,25.1,30.2,24.4,32.2,31.0,31.1,31.2,31.6,31.9,28.6,28.6
2018,29.3,32.0,29.7,28.2,25.2,30.2,32.5,25.6,30.0,25.2,32.8,31.8,31.8,31.7,31.9,32.3,29.1,29.4
2019,30.2,33.4,30.7,29.4,26.6,31.1,33.7,26.5,30.1,26.3,32.9,32.9,32.5,32.3,32.1,32.7,29.6,29.7
2020,31.7,34.9,32.4,30.9,28.3,32.4,36.3,27.7,31.3,27.6,35.0,34.8,34.2,33.8,33.7,34.4,30.9,31.1
2021,33.4,36.8,34.0,32.7,30.0,34.5,37.6,29.5,31.5,29.2,36.3,36.3,35.8,35.7,35.3,36.0,32.7,32.7

In [79]:
trans_region_papulation_data_work_01 = region_papulation_data.transpose()
trans_region_papulation_data_work_02 = trans_region_papulation_data_work_01.rename(columns = trans_region_papulation_data_work_01.iloc[0])
trans_region_papulation_data = trans_region_papulation_data_work_02.drop(trans_region_papulation_data_work_02.index[0])

trans_region_papulation_data

,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
2017.1,5618677,1180540,388899,259525,266434,171424,188136,107497,31472,1124541,199645,195186,259727,227600,232022,346998,370293,68738
2018.1,5848594,1229421,404408,269903,275898,174614,195544,110236,35763,1197586,206295,204109,270497,232587,235062,353702,379719,73250
2019.1,6147516,1299787,423227,284416,297865,182364,205165,116015,39078,1290893,208857,215196,280773,238746,238147,360213,391421,75353
2020.1,6643354,1390701,455207,304543,324841,193948,228842,122848,43577,1406010,231371,236208,304973,255269,256633,388791,417737,81855
2021.1,7165788,1489893,487362,326866,355657,212385,240932,133061,45706,1543100,245012,252251,327432,276153,274108,416697,450490,88683