In [1]:
import pandas as pd
import numpy as np

In [2]:
single_03 = pd.read_excel('C:/Users/PiGiraffe0/Documents/SQL/semi_project/data/single_03.xlsx')
single_03

,년도,소득,소비지출,01.식료품 · 비주류음료,02.주류 · 담배,03.의류 · 신발,04.주거 · 수도 · 광열,05.가정용품 · 가사서비스,06.보건,07.교통,08.통신,09.오락 · 문화,10.교육,11.음식 · 숙박,12.기타상품 · 서비스
0,2017,1672067.00,1373130.00,174496.00,30356.00,81753.00,248895.00,46619.0,90380.00,176568.00,62993.0,94472.00,42992.00,227864.00,95742.00
1,2018,1702374.00,1419873.00,183804.00,31850.00,75293.00,276756.00,54402.0,96655.00,180716.00,64910.0,101146.00,28400.00,224999.00,100942.00
2,2019,2352038.00,1436246.25,162112.75,32580.25,76974.00,259734.75,59264.5,107909.75,189221.25,62106.0,100599.00,35326.25,232915.25,117502.75
3,2020,2335510.25,1331238.00,178050.25,31436.00,64969.50,260016.00,57937.0,115211.25,127151.25,61753.5,86153.25,21721.75,224696.00,102142.00
4,2021,2535963.75,1411749.00,190478.25,33095.00,69504.25,262548.50,62080.5,119599.00,150173.00,66018.0,90603.00,19899.25,237754.00,109997.00

In [3]:
# 실행전 데이터 초기화 및 확인
single_03_v1 = single_03
single_03_v1

,년도,소득,소비지출,01.식료품 · 비주류음료,02.주류 · 담배,03.의류 · 신발,04.주거 · 수도 · 광열,05.가정용품 · 가사서비스,06.보건,07.교통,08.통신,09.오락 · 문화,10.교육,11.음식 · 숙박,12.기타상품 · 서비스
0,2017,1672067.00,1373130.00,174496.00,30356.00,81753.00,248895.00,46619.0,90380.00,176568.00,62993.0,94472.00,42992.00,227864.00,95742.00
1,2018,1702374.00,1419873.00,183804.00,31850.00,75293.00,276756.00,54402.0,96655.00,180716.00,64910.0,101146.00,28400.00,224999.00,100942.00
2,2019,2352038.00,1436246.25,162112.75,32580.25,76974.00,259734.75,59264.5,107909.75,189221.25,62106.0,100599.00,35326.25,232915.25,117502.75
3,2020,2335510.25,1331238.00,178050.25,31436.00,64969.50,260016.00,57937.0,115211.25,127151.25,61753.5,86153.25,21721.75,224696.00,102142.00
4,2021,2535963.75,1411749.00,190478.25,33095.00,69504.25,262548.50,62080.5,119599.00,150173.00,66018.0,90603.00,19899.25,237754.00,109997.00

In [4]:
def to_sharing_value(series) :
    # dataframe - series 데이터를 받아옵니다.
    try :
        mean_data = series.mean()
        # 데이터가 1만으로 나눌 수 있는지 칼럼별 데이터 평균을 구합니다.
        bool_data = None
        # series형은 if문에서 참, 거짓을 표현할 수 없기 때문에 series를 형변환 해주어야합니다.
        # for 내부에서 사용할 변수 입니다. 현재는 초기화를 위한 선언만 존재합니다.
        for value in series :
            # 칼럼별로 루프를 돌려줍니다.
            bool_data = mean_data[[value]] > 10000
            # bool_data에 특정 칼럼의 데이터 평균이 1만보다 큰 지 확인하여 True 나 False를 인자로 갖습니다.
            # 이 때 이 변수는 아직 series 형태입니다.
            bool_data = bool_data.bool()
            # series 형태의 bool_data를 boolean 형태로 형변환 시켜줍니다.
            if bool_data :
                print('{}를 만 단위로 가공합니다.(data/10000)'.format(value))
                series[[value]] = series[[value]] / 10000
                # bool_data가 참인지 거짓인지를 판단하여, 참일 경우 특정 칼럼 데이터 전체를 10000으로 나눕니다.
            else :
                print('{}가 만 단위로 가공되어있습니다.'.format(value))
    except Exception :
        print('error')
    finally :
        return round(series , 1)
        # 소수점 한자리까지 반환합니다.
        # 이 때 전체를 정수형으로 반환하려면 series.astype(int)를 입력하면 됩니다.

In [6]:
to_sharing_value(single_03_v1)

년도가 만 단위로 가공되어있습니다.
소득가 만 단위로 가공되어있습니다.
소비지출가 만 단위로 가공되어있습니다.
01.식료품 · 비주류음료가 만 단위로 가공되어있습니다.
02.주류 · 담배가 만 단위로 가공되어있습니다.
03.의류 · 신발가 만 단위로 가공되어있습니다.
04.주거 · 수도 · 광열가 만 단위로 가공되어있습니다.
05.가정용품 · 가사서비스가 만 단위로 가공되어있습니다.
06.보건가 만 단위로 가공되어있습니다.
07.교통가 만 단위로 가공되어있습니다.
08.통신가 만 단위로 가공되어있습니다.
09.오락 · 문화가 만 단위로 가공되어있습니다.
10.교육가 만 단위로 가공되어있습니다.
11.음식 · 숙박가 만 단위로 가공되어있습니다.
12.기타상품 · 서비스가 만 단위로 가공되어있습니다.

,년도,소득,소비지출,01.식료품 · 비주류음료,02.주류 · 담배,03.의류 · 신발,04.주거 · 수도 · 광열,05.가정용품 · 가사서비스,06.보건,07.교통,08.통신,09.오락 · 문화,10.교육,11.음식 · 숙박,12.기타상품 · 서비스
0,2017,167.2,137.3,17.4,3.0,8.2,24.9,4.7,9.0,17.7,6.3,9.4,4.3,22.8,9.6
1,2018,170.2,142.0,18.4,3.2,7.5,27.7,5.4,9.7,18.1,6.5,10.1,2.8,22.5,10.1
2,2019,235.2,143.6,16.2,3.3,7.7,26.0,5.9,10.8,18.9,6.2,10.1,3.5,23.3,11.8
3,2020,233.6,133.1,17.8,3.1,6.5,26.0,5.8,11.5,12.7,6.2,8.6,2.2,22.5,10.2
4,2021,253.6,141.2,19.0,3.3,7.0,26.3,6.2,12.0,15.0,6.6,9.1,2.0,23.8,11.0

#### 아래는 참고자료 입니다.

####  dataframe은 반환을 series로 보여주기 때문에 가공에 있어 문제가 생길 수 있다.
-  .to_list() series를 list로 변환
-  series.bool() series를 bool로 변환
-  if 문 비교시 series를 bool로 비교후 선언할 것

#### .astype() 
- dataframe의 형을 특정 형으로 변형한다. 이 때 전체 데이터 형변환을 할 시에 문자와 숫자가 섞여있으면 안되니 주의
- 만일 문자와 숫자가 섞여있다면 dataframe[['칼럼이름, 칼럼이름 ...']] 으로 추출하도록 하자.
- .loc은 이름으로, .iloc은 숫자로 인덱싱 -> 특정 데이터를 찾을때 좋다.
- .loc[index] .iloc[index]